{% extends 'base.html' %}

{% block content %}

<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>About Us</h3>
        <p></p>

        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bx-fingerprint"></i></div> -->
          <h4 class="title"><a href="">Consultancy Services</a></h4>
          <p class="description">The Basic service we provide here is giving the expert consultancy from the well known Doctors and expertise.</p>
        </div>

        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bx-gift"></i></div> -->
          <h4 class="title"><a href="">Surgery</a></h4>
          <p class="description">We can provide many types of surgery from different doctors.</p>
        </div>

        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bx-atom"></i></div> -->
          <h4 class="title"><a href="">Home Sample Collection</a></h4>
          <p class="description">We can solve your time consuming problem of coming in institude itself by giving service of home sample collection.</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->


{% endblock %}