{% extends 'base.html' %}
 

{% block content %}
<h1>_____________________________________________________________</h1>


 <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Doctors</h2>
        <p>Here The Doctors here in our company are well qualified and associated with different well known medical institutes.
          They are well known in the medical field so the services they provides can be acquired from our private limited.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <img src="static/app/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <h4>Dr.ShreeKrishna Shrestha</h4>
              <span>Consultant Surgeon and CEO</span>
              <p>Available on Sunday,Tuesday and Friday, From 7 to 9 PM</p>
              
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <h4>Dr.Punya am Kharbuja</h4>
              <span>Cancer,Gastro Surgeon</span>
              <p>Available on Sunday From 5:00 to 7:00 PM.</p>
              
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <h4>Dr.Tina Shrestha </h4>
              <span>Othalmologist</span>
              <p>Available on Monday From 5:00 to 7:00 PM.</p>
              
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <img src="static/app/img/doctors/doctors-4.jpg"  height="10" width="10" class="img-fluid" alt="">
            <div class="member-info">
              <h4>Dr.Ravi Bhusan Suwal</h4>
              <span>Ms,ENT Surgeon.</span>
              <p>Available on Monday,Wednesday,Friday From 6:00 to 1:00 AM.</p>
              
            </div>
          </div>
        </div>
        
        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <h4>Dr.Suroj Kumar Suwal</h4>
              <span>Orthopaedic Surgeon</span>
              <p>Available on Tuesday From 6:00 to 8:00 PM</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <h4>Dr.Shree Krishna Kasichhwa</h4>
            <span>MS,Orthopaedic Surgeon.</span>
            <p>Available on Sunday,Tuesday,Thurseday From 2:00 to 4:00 PM.</p>
           
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <h4>Dr.Ganendra Bhakta Raya</h4>
            <span>MD, Paediatrician</span>
            <p>Available on Wednesday From 5:00 to 7:00 AM.</p>
            
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
        <img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <h4>Dr.Lokendra Bata</h4>
            <span>MD,Gynaecologist</span>
            <p>Available on Thurseday From 5:00 to 6:00 PM.</p>
            
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <h4>Dr.Noora Pradhan</h4>
            <span>MD,Gynaecologist</span>
            <p>Available on Monday From 5:00 to 7:00 AM.</p>
            
          </div>
        </div>
      </div>

    </div>
   </section>

{% endblock %}
